.cure
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    height: 90vh;
    background: rgb(0, 0, 0);
}

.write
{
    display: flex;
    flex-direction: row;
    margin: 12rem 10rem 0;
    justify-content: center;
    align-items: center;

}

.firstDivInWrite
{
    border-bottom: 2px solid #f70606;
}

.firstDivInWrite > h2
{   
    display: flex;
    font-family: poppins;
    font-size: 4rem;
    line-height: 5rem;
    color: #16f2ee;
    letter-spacing: 2px;
    padding: .5rem;
}
#seck
{
    color:white;
    font-family:poppins;
    font-size:larger;
}
.next-up
{
    display: flex;
    margin-left: 9rem;
}

.next
{
    display: flex;
    flex-direction: row;
}

.next button
{
    background: transparent;
    border: 2px solid #ffffff;
    color: #31bfb8;
    font-weight: bold;
    font-family: poppins;
    margin: 1rem;
    transition: .3s ease-in all
}

.next button:hover
{
    background: #236616;
    color: white;
    font-weight: 400;
}
.covered
{
    display: flex;
    margin-left: 1rem;
   
}
.covers
{
    display: flex;
    width: 14vw;
    height: 27vh;
    margin-top: 6rem;
    border: 2px solid none;
    box-sizing: border-box;
    box-shadow: 4px 4px rgba(1, 252, 252, 0.25);
    border-radius: 3rem;
    background: url('../../Access/Image/security mann.png');
    background-repeat: no-repeat;
}
.covers1
{
    display: flex;
    width: 20vw;
    height: 23vh;
    margin: .3rem;
    border: 2px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 4px 4px rgba(1, 252, 252, 0.25);
    border-radius: 3rem;
    background: url('../../Access/Image/security guy 1.png');
    background-repeat: no-repeat;
    background-size: contain;
}