.separate
{
    display: flex;
    width:100vw;
    justify-content: space-between;
    align-items: center;
    background: black;
    position: fixed;
    top: 0;
}

.page
{
    display: flex;
    justify-content: flex-start;
}
.page > img
{
    width: 130px;
    
}

.page > h3
{   
    font-family: tinos;
    font-style: normal;
    padding: .5rem;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    color: #ffffff;
}

.page-side
{
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.side
{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    line-height: 1rem;
    border: 1px solid transparent;
    transition: .3s ease-in all;
    flex-wrap: nowrap;
}

.anchor
{
    display: flex;
    border-radius: 4px;
    margin: 1.5rem;
    padding: 1rem;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight:600;
}

.anchor:hover
{
    background: #1e6f25;
}

.anchor > a 
{
    color: rgb(255, 255, 255);
}
.bold
{
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    font-family: poppins;
    padding: 1.5rem;
    margin: 1rem;
    letter-spacing: 1px;
    font-size: 20px;
    transition: .3s ease-in all
}
.bold:hover
{
    background: #f70202;
    color: white;
    font-weight: 400;
}