.separate
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page
{
    display: flex;
    position: relative;
    justify-content: flex-start;
}

.page > h3
{   
    font-family: tinos;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 3rem;
    color: #39524A;
}

.page-side
{
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.side
{
    display: flex;
    align-items: center;
   
    font-size: 1.5rem;
    line-height: 1rem;
    border: 1px solid transparent;
    transition: .3s ease-in all;
    flex-wrap: nowrap;
}

.anchor
{
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    height: 30px;
    border-radius: 4px;
    font-family: poppins;
    margin: 1.2rem;
    padding: 1.2rem;
    align-content: center;
    font-weight: bold;
}

.anchor:hover
{
    color: white;
    background: #39524A;
    color: #142C43;
}

.anchor > a 
{
    color: rgb(17, 16, 16);
}