.container
{
    display: flex;
    align-items: center;
    width: auto;
    height:100vh;
    background: #39524A;
    border: 2px solid none;
}
.sure
{
    display: flex;
    justify-content: space-between;
    margin-left: 15rem;

}
.ama 
{
    display: flex;
    width: 700px;
    height: 400px;
    margin-top: 12rem;
}
.details
{
    display: flex;
    flex-direction: column;
    margin-top:12rem;
    width: auto;
    height: auto;
    border: 2px solid rgb(238, 233, 233);
    border-radius: 2rem;
}
.details > h2 
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    font-weight: bold;
}
.fields
{ 
    width: 25vw;
    margin: -2rem;
    font-family: poppins;
}
.fields > input
{
    border-radius:5rem;
    border:none;
    text-align: center;
}
.but{
    display: flex;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    font-family: Montserrat;
    margin-top: 48rem;
    margin-left: -26rem;

}
.but > button
{
    background-color: transparent;
    color:white;
    align-items: center;
    font-size: 25px;
    font-weight: 400px;
    border: transparent;
    letter-spacing: 1px;
    transition: .3s ease-in all;
}
.but > button :hover
{
    background: #f70202;
    color: white;
}